body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    margin-left: 15%;
}

header, nav {
    display: block;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
    width: 90%;
}

section {
    display: block;
    text-align: center;
    height: 260px;
    width: 495px;
    margin-top: 20px;
    padding: 20px;
    float: left;
}

article {
    color: #ebebeb;
    background: #777;
    height: 180px;
    width: 500px;
    position: absolute;
    padding: 10px;
    text-align: center;
    margin-top: 100px;
    margin-left: 152px;
}

/*Need to figure out how to change (lower) the position of h1, h2, and h3 -->FIX VERTICAL ALIGNMENT*/
h1 {
    color: #777;
    background: #ebebeb;
    height: 40px;
    width: 463px;
    padding: 10px;
    position: absolute;
    margin-top: 150px;
    margin-left: 170px;
    text-align: center;
    font-size: 18px;
}

p{
    color: #777;
    background: #ebebeb;
    height: 40px;
    width: 463px;
    padding: 10px;
    position: absolute; 
    margin-top: 220px;
    margin-left: 170px;
    text-align: center;
}

aside {
    display: block;
    float: right;
    padding: 20px;
    margin-right: -108px;
    margin-top: -300px;
    height: 260px;
    width: 330px;
    text-align: center;
}

footer {
    clear: both;
    display: block;
    text-align: center;
    padding: 30px;
    width: 90%;
    position: relative;
    margin-top: 20px;
}